.servicio-web-section {
  overflow-x: hidden;

  .servicio-container {
    height: 600px;
    box-sizing: content-box;

    .logo {
      max-height: 100px;
      align-self: center;
    }

    .img {
      height: 400px;
      scale: 1/1;
      object-fit: contain;
    }

    .web-text {
      p {
        margin-left: 100px;
        margin-top: 25px;
        text-align: start;
      }
    }
  }
}

@media (max-width: 768px) {
  .servicio-web-section {
    padding-top: 2rem;
    padding-bottom: 2rem;

    .servicio-container {
      height: 800px;

      .logo {
        width: 90%;
        align-self: center;
        margin-right: 0;
      }

      .web-text {
        p {
          padding: 0 25px;
          margin-top: 25px;
          margin-bottom: 15px;
          margin-left: 0 !important;
          font-size: 0.95rem;
          text-align: start;
        }
      }
    }
  }
}


@keyframes slideIn {
  from {
    opacity: 0;
    transform: translate(100px, 40px);
  }

  to {
    opacity: 1;
    transform: translate(0, 0);
  }
}

@keyframes slideOut {
  from {
    opacity: 1;
    transform: translate(0, 0);
  }

  to {
    opacity: 0;
    transform: translate(-100px, 30px); // 👈 sale hacia la izquierda y abajo
  }
}

.enter {
  animation: slideIn 0.5s ease forwards;
}

.exit {
  animation: slideOut 0.5s ease forwards;
}

.carousel-dots {
  .dot {
    width: 14px;
    height: 14px;
    border-radius: 50%;
    margin: 0 6px;
    border: none;
    background-color: #d0d0d0;
    transition: background-color 0.3s ease, transform 0.3s;

    &.active {
      background-color: #ff5e5e;
      transform: scaleX(1.4);
      border-radius: 8px !important;
    }

    &:hover {
      cursor: pointer;
      background-color: #ff8a8a;
    }
  }
}