.custom-carousel {
  position: relative;
  width: 100%;
  max-width: 800px;
  margin: auto;
  overflow: hidden;

  .carousel-track {
    position: relative;
    width: 100%;
    height: auto;
  }

  .carousel-slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    opacity: 0;
    transform: translateY(30px) scale(0.95);
    transition: opacity 0.8s ease, transform 0.8s ease;

    display: flex;
    justify-content: center;
    align-items: center;

    &.active {
      opacity: 1;
      position: relative;
      transform: translateY(0) scale(1);
    }

    img {
      width: 100%;
      height: auto;
      max-height: 450px;
      object-fit: contain;
    }
  }

  .carousel-indicators {
    display: flex;
    justify-content: center;
    margin-top: 1rem;

    .dot {
      width: 12px;
      height: 12px;
      margin: 0 6px;
      border-radius: 50%;
      border: none;
      background-color: #ccc;
      transition: background-color 0.3s ease;

      &.active {
        background-color: #f25f5c;
      }
    }
  }
}
