.como-trabajamos-section {
  background: linear-gradient(to right, #2c3e50, #0b0d0f);
  color: #ffffff;
}

.text-md-start p {
  font-weight: 300;
}

.paso-icono {
  background-color: #121e28;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: -8px -8px 20px rgba(0, 255, 255, 0.15);
  position: relative;
}

.paso-icono .icons {
  height: 70px;
  width: 70px;
}

